[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
tkcalendar = "*"
requests = "*"
monero_usd_price = "*"
lxml = "*"
clipman = "*"
qrcode = "*"
pillow = "*"
factory_boy = "*"
time-machine = "*"
vcrpy = "*"
crontab = "*"
pyinstaller = "*"
ruff = "*"
pywin32-ctypes = "*"
pefile = "*"
macholib = "*"
cron-descriptor = "*"
pyqt5 = "*"
monerorequest = "*"
coverage = "*"
pycoingecko = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
tests = 'python -m unittest discover test'
gui = 'python gui.py'
build = 'pyinstaller gui.spec'
