interactions:
- request:
    body: null
    headers:
      Ocp-Apim-Subscription-Key:
      - 14b8cd90c80149a888d9986e22dbfb95
    method: GET
    uri: https://gbcapi.gbdomainapi.xyz/GBCalculatorSettingsAPICSharpProdV1/CurrencyRates
  response:
    body:
      string: '{"success":true,"terms":"https://currencylayer.com/terms","privacy":"https://currencylayer.com/privacy","timestamp":1748439305,"source":"USD","quotes":{"USDAED":24.3149290,"USDAUD":10.32116918,"USDCAD":9.1613518,"USDCNY":47.69247262,"USDEUR":5.8561182,"USDGBP":4.91882550,"USDJPY":959.00299662,"USDMXN":127.6103638,"USDUSD":6.62}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
