interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coinmarketcap.com/currencies/monero/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\"><head><meta charSet=\"utf-8\"/><meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\"/><meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,
        shrink-to-fit=no\"/><link rel=\"preconnect\" href=\"https://s2.coinmarketcap.com\"
        crossorigin=\"anonymous\"/><link rel=\"preconnect\" href=\"https://s3.coinmarketcap.com\"
        crossorigin=\"anonymous\"/><link rel=\"preconnect\" href=\"//www.googletagmanager.com\"/><link
        rel=\"preload\" href=\"https://s2.coinmarketcap.com/static/cloud/fonts/inter/Inter-Regular-new.woff2\"
        as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\"/><link rel=\"preload\"
        href=\"https://s2.coinmarketcap.com/static/cloud/fonts/inter/Inter-Medium-new.woff2\"
        as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\"/><link rel=\"preload\"
        href=\"https://s2.coinmarketcap.com/static/cloud/fonts/inter/Inter-SemiBold-new.woff2\"
        as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\"/><link rel=\"preload\"
        href=\"https://s2.coinmarketcap.com/static/cloud/fonts/inter/Inter-Bold-new.woff2\"
        as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\"/><link rel=\"preload\"
        href=\"https://s2.coinmarketcap.com/static/cloud/fonts/cmc-v2/CMC-V2.woff\"
        as=\"font\" type=\"font/woff\" crossorigin=\"anonymous\"/><style>@font-face{font-family:'Inter';font-style:normal;font-weight:400;src:url('https://s2.coinmarketcap.com/static/cloud/fonts/inter/Inter-Regular-new.woff2')
        format('woff2'),url('https://s2.coinmarketcap.com/static/cloud/fonts/inter/Inter-Regular-new.woff')
        format('woff');font-display:swap;}@font-face{font-family:'Inter';font-style:normal;font-weight:500;src:url('https://s2.coinmarketcap.com/static/cloud/fonts/inter/Inter-Medium-new.woff2')
        format('woff2'),url('https://s2.coi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hitbtc.com/api/3/public/ticker/XMRUSDT
  response:
    body:
      string: '{"ask":"168.1069","bid":"168.0200","last":"168.0400","low":"164.1800","high":"171.6600","open":"167.2472","volume":"220.748","volume_quote":"37086.9111216","timestamp":"2024-09-02T01:12:57.284Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"jsonrpc": "2.0", "id": "0", "method": "get_balance"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:18088/json_rpc
  response:
    body:
      string: "{\r\n  \"id\": \"0\",\r\n  \"jsonrpc\": \"2.0\",\r\n  \"result\": {\r\n
        \   \"balance\": 52556501432713,\r\n    \"blocks_to_unlock\": 0,\r\n    \"multisig_import_needed\":
        false,\r\n    \"per_subaddress\": [{\r\n      \"account_index\": 0,\r\n      \"address\":
        \"59fhPNhFLEx3zP16ZAPaeHXsPoNczVaGo245CgDSW9WpiMxvP1N7WdxX1RA4vob6ABGGBxUgjcCN2LjeSGPiH8AEKpAMFKC\",\r\n
        \     \"address_index\": 0,\r\n      \"balance\": 52556501432713,\r\n      \"blocks_to_unlock\":
        0,\r\n      \"label\": \"Primary account\",\r\n      \"num_unspent_outputs\":
        63,\r\n      \"time_to_unlock\": 0,\r\n      \"unlocked_balance\": 52556501432713\r\n
        \   }],\r\n    \"time_to_unlock\": 0,\r\n    \"unlocked_balance\": 52556501432713\r\n
        \ }\r\n}"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 02 Sep 2024 01:12:58 GMT
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=USD
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"><head><meta charSet=\"utf-8\"/><meta
        name=\"viewport\" content=\"width=device-width\"/><link rel=\"canonical\"
        href=\"https://www.xe.com/currencyconverter/convert/?Amount=1&amp;From=USD&amp;To=USD\"/><link
        rel=\"alternate\" hrefLang=\"x-default\" href=\"https://www.xe.co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.coingecko.com/api/v3/simple/price?ids=monero&vs_currencies=usd
  response:
    body:
      string: '{"monero":{"usd":168.98}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      alternate-protocol:
      - 443:npn-spdy/2
      etag:
      - W/"9560d6b3bc4c0633423464e1e07d7891"
    status:
      code: 200
      message: OK
[...]
