interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://monero.fail/
  response:
    body:
      string: "<!DOCTYPE html>\n <html lang=\"en\">\n <head>\n     <meta charset=\"UTF-8\">\n
        \    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n     <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n     <meta
        name=\"HandheldFriendly\" content=\"True\">\n     <meta name=\"MobileOptimized\"
        content=\"320\">\n     <link rel=\"shortcut icon\" href=\"/static/favicon.ico\"
        type=\"image/x-icon\" />\n     <meta property=\"fb:app_id\" content=\"0\"
        />\n     <meta property=\"og:image\" content=\"https://www.getmonero.org/press-kit/symbols/monero-symbol-on-white-480.png\"
        />\n     <meta property=\"og:description\" content=\"xmrnodes\" />\n     <meta
        property=\"og:url\" content=\"https://monero.fail\" />\n     <meta property=\"og:title\"
        content=\"XMR Nodes\" />\n     <meta property=\"og:type\" content=\"website\"
        />\n     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n
        \    <meta name=\"theme-color\" content=\"#ffffff\">\n     <meta name=\"apple-mobile-web-app-title\"
        content=\"XMR Nodes\">\n     <meta name=\"application-name\" content=\"XMR
        Nodes\">\n     <meta name=\"msapplication-TileColor\" content=\"#da532c\">\n
        \    <meta name=\"keywords\" content=\"wownero, monero, xmr, bitmonero, cryptocurrency\">\n
        \    <link href=\"/static/css/normalize.css\" rel=\"stylesheet\">\n     <link
        href=\"/static/css/pure.css\" rel=\"stylesheet\">\n     <link href=\"/static/css/style.css\"
        rel=\"stylesheet\">\n     <title>XMR Nodes</title>\n </head>\n\n <body>\n\n
        \ <div id=\"warningBanner\" class=\"banner\">\n    <h1>\n      WARNING\n    </h1>\n
        \   <p>\n      There has been an influx of malicious nodes hosted by chain
        analysis and government agencies which spy on Monero users.\n      Some of
        them may be in this list - it's impossible to know.\n      To best protect
        yourself from surveillance please use Tor or run your own node.\n      <br
        /><br />\n      To learn more about the surveillance issue, watch this video\n
        \     <a href=\"https://www.youtube.com/watch?v=WkphgF6Hn4w\" target=\"_blank\">How
        Monero Users Get Traced</a>\n      <br />\n      To learn more on how to mitigate
        the surveillance, read this page: <a href=\"/opsec\">Opsec</a>\n    </p>\n
        \ </div>\n\n  <div id=\"donateBanner\" class=\"banner\">\n    <h1 style=\"font-size:
        12px; padding: 4px; margin: 0;\">Please consider donating to fund hosting
        bills, development, and maintenance time:</h1>\n    <p style=\"font-size:
        14px; padding: 0 0 4px 0; margin: 0; user-select: all; word-wrap: anywhere;\">878ca636oEHcjZ3Zimuwx4AZTbeMtqY11eVihramcBgVciC254jpUm9AxbwAd57nxv1HRE9AGG1cXBkvmRzfsFXh1L6f2CU</p>\n
        \ </div>\n\n  <style>\n    .banner {\n      text-align: center;\n    }\n    #donateBanner
        {\n      background-color: rgba(0, 183, 195, .35);\n      padding: .35em;\n
        \   }\n    #warningBanner {\n      background-color: rgba(255, 0, 0, .7);\n
        \     padding: .5em 2em .5em 2em;\n      margin: 0 auto;\n    }\n    #warningBanner
        p {\n      width: 60%;\n      margin: 0 auto;\n      padding-bottom: 18px;\n
        \   }\n  </style>\n\n\n  \n\n\n<div id=\"\" class=\"center\">\n  <br>\n  <a
        href=\"/about\">about</a>\n  -\n  <a href=\"/map\">map</a>\n  -\n  <a href=\"https://twitter.com/lza_menace\"
        target=\"_blank\">contact</a>\n  -\n  <a href=\"/nodes.json\" target=\"_blank\">api</a>\n
        \ -\n  <a href=\"https://moneroinfodump.neocities.org/\" target=\"_blank\">infodump</a>\n</div>\n\n
        <!-- Page Content -->\n \n\n\n<div id=\"index\" class=\"container\">\n\n  <div
        id=\"addnode\" class=\"pure-g center section\">\n    <div class=\"title pure-u-1\">\n
        \     <h2>Add A Node</h2>\n    </div>\n    <form method=\"POST\" action=\"/add\"
        class=\"pure-form pure-u-1\">\n        <input id=\"csrf_token\" name=\"csrf_token\"
        type=\"hidden\" value=\"IjEzYTExODhjMzllZTYwMzM5NmExZTE4NWFmMTExZTUxYTc2NmY0ZTQi.aDpBNg.l1DQ4UZTaIWmJROeld5KCTvuV7M\">\n
        \       \n          \n            <div class=\"form-group\">\n              <label
        for=\"node_url\"></label>\n              <input id=\"node_url\" name=\"node_url\"
        placeholder=\"Node URL (http://xxx.tld:18081)\" required type=\"text\" value=\"\">\n
        \             <button type=\"submit\" class=\"pure-button pure-button-primary\">Submit</button>\n
        \           </div>\n          \n        \n          \n        \n        <ul>\n
        \       \n        </ul>\n        \n    </form>\n  </div>\n\n  <div id=\"nodes\"
        class=\"pure-u-1 section\">\n    <h2 class=\"center\">Find a Node</h2>\n    <div
        class=\"center\" id=\"filters\">\n      <form>\n        <span>\n          <label
        for=\"chainSelect\">Chain:</label>\n          <select name=\"chain\" id=\"chainSelect\">\n
        \           <option value=\"monero\" >Monero</option>\n            <option
        value=\"wownero\" >Wownero</option>\n          </select>\n        </span>\n\n
        \       <span>\n          <label for=\"networkSelect\">Network:</label>\n
        \         <select name=\"network\" id=\"networkSelect\">\n            <option
        value=\"mainnet\" >Mainnet</option>\n            <option value=\"testnet\"
        >Testnet</option>\n            <option value=\"stagenet\" >Stagenet</option>\n
        \         </select>\n        </span>\n        \n        <span>\n          <label
        for=\"cors\">Web (CORS):</label>\n          <input type=\"checkbox\" name=\"cors\"
        id=\"cors\" >\n[...]
